In [5]:
from database import init_db, db_session
from bankmodel import Customer
from sqlalchemy import select


init_db()

In [6]:
customers = Customer.query.all()
customers

[<1c, 최원칠, 2, 500, silver>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>]

In [7]:
c = db_session.get(Customer, '1c')
c

In [4]:
Customer.query.filter(Customer.c_id =='1c')[0]

In [5]:
q = db_session.execute(select(Customer)).scalars()
for c in q:
    print(c)

<1c, 원칠2, 3, 125735, vvip>
<2c, 이서혁, 1, 2000, gold>
<3c, aiot, 3, 50000, vip>
<4c, 새싹, 4, 200000, vvip>

In [6]:
q = db_session.execute(select(Customer).order_by(Customer.rat)).scalars()
for c in q:
    print(c)

<2c, 이서혁, 1, 2000, gold>
<3c, aiot, 3, 50000, vip>
<1c, 원칠2, 3, 125735, vvip>
<4c, 새싹, 4, 200000, vvip>

In [7]:
q = db_session.execute(select(Customer).where(Customer.name =='aiot')).scalars()
for c in q:
    print(c)

<3c, aiot, 3, 50000, vip>

In [8]:
customers[0].name = '원칠3'
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠3, 3, 125735, vvip>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>]

In [9]:
customers[0].name = '원칠4'
customers[0].verified = True
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠4, 3, 125735, vvip>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>]

In [11]:

c = Customer(c_id = '12c', name = '데이터베스')
db_session.add(c)
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠4, 3, 125735, vvip>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>,
 <11c, 데이터베스, 0, 0, normal>,
 <12c, 데이터베스, 0, 0, normal>]

In [ ]:
from bankmodel import 
# accounts 테이블의 모든 계좌를 쿼리후 출력

In [ ]:
# get함수를 활용해 a_id가 11a 인 계좌 출력

In [ ]:
# 쿼리 filter 함수를 활용해 c_id가 3c인 계좌 출력

In [ ]:
# a_id가 45a이고 c_id가 4c인 계좌 생성후 DB에 추가

In [ ]:
# a_id가 21a인 계좌를 가져온후 금액을 4000으로 바꾸고 DB업데이트